@{
    ViewBag.Title = "Home Page";
}


<h1>Counter component</h1>
<div id="my-counter" data-amount="3">... Loading ...</div>

<h1>Index component</h1>
<div id="index">... Loading ...</div>

<h1>Fetch Data component</h1>
<div id="fetch-data" data-url="Weather">... Loading ...</div>

<script src="_framework/blazor.webassembly.js"></script>
<script>
    window.loadCounter = async function () {
        let containerElement = document.getElementById("my-counter");
        await Blazor.rootComponents.add(containerElement, 'counter', { incrementAmount: parseInt(containerElement.getAttribute("data-amount") || 1) });
    };

    window.loadIndex = async function () {
        let containerElement = document.getElementById("index");
        await Blazor.rootComponents.add(containerElement, 'index', {});
    };

    window.loadFetchData = async function () {
        let containerElement = document.getElementById("fetch-data");
        await Blazor.rootComponents.add(containerElement, 'fetchData', { DataUrl: containerElement.getAttribute("data-url") });
    };
</script>